<h1>let's make a contact</h1>

<form action="/contacts" method="post">
  <input type="text" placeholder="first name" name="first" autofocus><br>
  <input type="text" placeholder="last name" name="last" ><br>
  <input type="number" placeholder="age" name="age" ><br>
  <input type="text" placeholder="gender" name="gender" ><br>
  <input type="text" placeholder="dtgd" name="dtgd" ><br>
  <input type="text" placeholder="phone" name="phone" ><br>
  <button>add person</button>
</form>